<div id="instruments-admin-page">

    <div class="page-header">
        <h1>Instruments list
        </h1>
    </div>
    <hr/>

    <h3>Filter Items</h3>

    <button type="button" id="all" class="instruments-filter btn btn-info active">All</button>
    <button type="button" id="available" class="instruments-filter btn btn-info">Available</button>
    <button type="button" id="unavailable" class="instruments-filter btn btn-info">Not Available</button>

    {{#if admin}}
    <div class="pull-right">
        <a href="#/new-instrument">
            <button type="button" class="btn btn-success "><span class="glyphicon glyphicon-plus"></span>Add Instrument
            </button>
        </a>
    </div>
    {{/if}}
    <br>
    <br>

    <table class="datatable table table-striped table-bordered">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Count</th>
            <th>Available Count</th>
            {{#if admin}}{{else}}<th>Actions</th>{{/if}}
        </tr>
        </thead>
        <tbody>
        {{#each instruments }}
        <tr>
            <td>{{Brand}}</td>
            <td>{{Model}}</td>
            <td>{{Count}}</td>
            <td>{{AvailableCount}}</td>
            {{#if ../admin}}{{else}}
            <td>
                {{#ifCond AvailableCount '>' 0}}
                <button type="button" data-id="{{Id}}" data-count="{{Count}}" data-toggle="modal" data-target="#makeRequestModal"
                        class="request-instrument btn btn-info active">Add request
                </button>
                {{/ifCond}}
            </td>
            {{/if}}
        </tr>
        {{~/each}}
        </tbody>
    </table>



<!-- Modal -->
<div class="modal fade" id="makeRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Instrument</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="request-quantity">Request Quantity</label>

                            <div class="col-md-4">
                                <input id="request-quantity" data-id="" name="request-quantity" type="number" min="1" max="5" value="1" class="form-control input-md" required>

                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="submit-request" type="button" class="btn btn-primary">Request</button>
            </div>
        </div>
    </div>
</div>
</div>