<div id="new-site">
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend class="text-center">Add new Construction Site</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>

                <div class="col-md-4">
                    <input id="name" name="name" placeholder="" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="location">Location</label>

                <div class="col-md-4">
                    <input id="location" name="location" placeholder="" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>

                <div class="col-md-4">
                    <input id="description"  name="description" placeholder="" class="form-control input-md" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="picture">Picture</label>

                <div class="col-md-4">
                    <input id="picture"  name="picture" placeholder="" class="form-control input-md" type="text">

                </div>
            </div>

            <!-- Button -->
            <div class="form-group text-center">
                <label class="col-md-4 control-label" for="submit"></label>

                <div class="col-md-4">
                    <button id="submit" name="" class="btn btn-success btn-lg">Create</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>